<!DOCTYPE html>
<html>
<head>
    <title>Sprawdzanie drzewa binarnego</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Sprawdź, czy graf jest drzewem binarnym</h1>
    <form method="post">
        <label>Podaj krawędzie w formacie: [(1,2), (1,3), (2,4)]</label><br><br>
        <input type="text" name="edges" size="50" required value="{{ edges_input or '' }}">
        <br><br>
        <input type="submit" value="Sprawdź">
    </form>
    {% if result %}
        {% if '✅' in result or '❌' in result %}
            <h2>Wynik dla grafu:</h2>
            <pre>{{ edges_input }}</pre>
            <p>{{ result }}</p>
        {% else %}
        <p style="color: #856404;">{{ result }}</p>
    {% endif %}
{% endif %}

</body>
</html>
